*{
    background-color: #FEC7D7;
}
#texto{
position: static;
width: 327px;
height: 96px;
left: 0px;
top: 33px;
margin-bottom: 50px;
font-family: 'Nunito', sans-serif;;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
text-align: center;
letter-spacing: 0.005em;
color: #535353;

}

#titulo{
    position: static;
width: 327px;
height: 25px;
left: 0px;
top: 0px;
font-family: 'Nunito', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;
text-align: center;
color: black;
}

.container{
    background-color: #FEC7D7;
    max-width: 375px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 327px;
    height: 100%;
}




#button2 {
    display: block;
    width: 327px;
    height: 20px;
    border-radius: 98px;
    background-color: #0e172c;
    padding: 16px;
    justify-content: center;
    color: #FFFFFE;
    letter-spacing: 0.0125em;
    font-size: 20px;
    line-height: 16px;
    font-family: Nunito;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: none;    
}

